.tituloGrande{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: white;
    margin-bottom: 30px;
}

.tituloMediano{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;
}

.tituloPequeño{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;
}

.tituloMuyPequeño{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: black;
}

.colorNaranja{
    color: rgb(255,192,1);
}

.colorNegro{
    color: rgb(0,0,0);
}

.colorBlanco{
  color: rgb(255,255,255);
}

.centrar{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.preview{
  width: 10%;
  height: 10%;
  padding:0px;
}

.image{
  width: 100%;
  height: 100%;
}

.boton{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-right: 2px;
  background-color: rgb(255,192,1);
}